*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

/* Header section */

header{
    background-color: darkblue;
}

.navbar-brand {
    position: relative;
    background-size: contain;
}
.navbar-nav a{
    padding:15px;
    font-size: larger;
    border-radius: 2px;
    /* text-shadow: 2px 2px 4px black; */
}
.navbar-nav a:hover{
    /* border-radius: 20px; */
    background-color: skyblue;
    color: white;
}

#title{
    width: 80rem;
    position: relative;
    top:1.5em;
    margin-right: 6em;
    /* overflow: auto; */
    color: #022179;
    text-shadow: 2px 2px 4px skyblue;
    
}
#logo{
    object-fit: inherit;  
    position: relative;
    margin-left: 1em;
    color: white;
    top:1.5em;

}
.logo-main{

    width: 340px;
    height:340px;
}

@media screen and (max-width: 480px) {
    .logo-main {
      width: 250px;
    } 

        #title{
        text-align: center;
            right: 10px;
            width: 16rem;
           
    }

    h1 {
        font-size: calc(1rem + 1vw)!important;
    }

    .zero{
       
        padding: 0!important;
        margin: 0!important;

    }

    .response{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0!important;
        margin: 0!important;
    }
  } 

/* Carousel at the top */

#carouselOne{
    margin-top: 2rem;
    /* border: 10px solid darkblue; */
}
.d-block{
height: 20rem;
width: 10rem;
}

.events-cards{
    width: 20rem;
    margin: 3rem 3rem!important;
    padding: 3rem;
    border-radius: 1.2rem;
    /* background-color: white; */
}
.bg-events{
    background-color:rgb(208, 241, 255);
}
.bg-color{

    background-color:#0288d1;
}

.container-fluid{
    width: 100%;
    height: 13rem;
    display:inline-flex;
    padding-right: var(--bs-gutter-x,10.75rem)!important;
    padding-left: var(--bs-gutter-x,10.75rem)!important;
    margin-right: auto;
    margin-left: auto;
}

.navbar{

    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    background-color: #022179;
}
.btn{
    box-shadow: 0 6px 10px 0 black;
    padding: 3px;
}
.btn-outline-success {
    color: #022179!important;
    background-color: #ffffff!important;
    border-color: #3aa3c3!important;
}

.rounded-pill-m {
    border-radius: 0.5rem!important;
}
.btn:active{
    top: 4px;
    transform: translateY(4px);
}
#content{
  
font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal!important;
    color: #251d1d!important;
    
}

 /* footer added  */
.text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: white!important;
    text-decoration: none!important;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    color: gray!important;
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background:#001e46;
  }
  
    body, html {
      height: 100%;
    }

  .animation {
    position: relative;
    font-size:1em!important;
    animation: text 6s infinite;
    text-align: left;
    animation-duration: 5s;
    text-shadow: 2px 2px 4px skyblue;

}

@keyframes text{
    0% {display: none;
        left: 0%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 100%;
    }
}

#announce{
    background-color: #022179;
    padding:10px;
    font-size:1em;
    text-shadow: 2px 2px 4px black;
    color: white;

}
 
#canvasForAnnouncement{
    height: 3rem;
    display: inline;
    margin-bottom: 2rem;
    font-size: 1.2em;
    background-color:lightgrey;
}

@media screen and (min-width : 400px) {
#cardLearn{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}
}
.myh3{
  
    margin: auto;
    width: 50%;
    font-size:  2.5rem;
    padding: 10px;
    text-align: center;
    color: darkblue;
    text-shadow: 2px 2px 4px skyblue;

}

.card{
    margin: 3em;
    box-shadow: 10px 10px turquoise;
}

.card:hover{
    position: relative;
    top: 5px;
}

.MoreVocab{
float:right;
padding-left: 0.6em;  
padding-right: 0.6em; 
width:6em;
position: relative;
bottom: 1em;
}

.buttonVocab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
}

#about{
    height:20rem;
    width: 20rem;
}

#headinfo{
    width:50rem ;
    height: 20rem;
    display:flex;
}
#aboutbody{
    display: inline-block;
    flex-wrap: wrap;
}

#aboutandhead{
    display: flex;
    flex-wrap: wrap;
    background-color:skyblue;
    justify-content: center;
    
}

/* .background{
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 100%;
} */
