body {
    font-family: sans-serif;
    /* background-color: #fcf9f0; */
    opacity: 1;
    margin: 0px;
    padding: 0px;
    
    /* font-family: 'Playball', cursive; */
font-family: 'Poppins', sans-serif;

 
    
}
.dropdown-menu{
  border-radius: 0px 0px 20px 20px;
  background-color: #fdffff;
}


.dropdown-menu>li>a :hover{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
   
}
.nav .active>.nav-link:hover {
  background-color: transparent;
}
.navbar-toggler{
  outline:none;
}
.dropdown-menu>.active>a{
  color: #fff;
  text-decoration: none;
  /* background-color: #337ab7; */
  outline: 0;
}

.notverified {
    width: fit-content;
    background-color: #dc3545;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;

    /* margin-left: 20px; */
}
.verified {
  width: fit-content;
  background-color: #198754;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 3px;
}
.rounded-side {
  background-color:#f75700;
  padding:10px;
  border-radius: 0 100em 100em 0;
}
.bg-steel {
    background-color: #5f788a;
  }
  
 

  
  
  
  .content-section {
    background: #ededed;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
 
  
 
  
  
  
  
  


 
  
 

  .card-titlee{
    color: white;
    font-weight: bold;
  }
  .img-fluid{
    margin-top: 10px;
    margin-top: 10px;
    border-radius: 20px;
    /* border:2px solid black; */
  } 
  .getstarted:hover{
    background-color: #0e1317;
    transform: scale(1) !important;
  }
  
  
  .navbar-dark .nav .active>.nav-link{
    color:#ffffff;
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* transition: 500ms; */
  }
  .nav .active>.nav-link:hover{
    color: rgb(70, 251, 245);
    font-weight: bold;

  }
 
  
 
  
  .loginlink:hover{
    color:#a7a9aa;
  }
 .bottom-pic{
  margin-top: 0px;
  margin-top: 0px;
  border-radius: 5px;
  height: 80%;
  border:0px solid black;
 }
 .landingcard{
  border-radius: 30px;
  width: 80%;
  /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 2px 12px 16px black;
position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(10%, -150%);
  z-index: 2;
  background-color: #ffffff;
 
}
.navlogo{
  width:70px;margin-bottom: 5px; height:70px;
}
.logg{
  transform: translate(10%, -170%); 
}
.reg{
  transform: translate(10%, -105%); 
}
.banner{
  height: 100vh;
}
[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='3000'] {
  transition-duration: 3000ms;
}
.voteimg{
  width: 40px;
}
.card-header{
  background-color:#3aa3c3;
  
  color: white;
  font-weight: bold;
}
.card{
  border-radius: 20px;
}
.questiontitle img {
  max-width: 50%;
  height: auto !important;
}
.questiontitle table {
  max-width: 50%;
  height: auto !important;
}
.imgland{
  transition: all 1000ms;
}
.imgland:hover{
transform: translate(0px, -20px);
}
a{
  color:white;
  background-color: transparent;
}
.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: rgba(255, 255, 255, 0);
}
@media only screen and (max-width: 1600px) {
  .navbar-dark .navbar-nav .active>.nav-link {
    color: #ffffff;
    /* font-size: 1rem; */
    font-weight: bold;
    transition: 1000;
}
}
@media only screen and (max-width: 1700.44px) {
  .mylogotitle{
    font-size: 20px;
  }
 
  .landingcard{
    
    transform: translate(10%, -130%);
 
   
  }
  .reg{
    transform: translate(10%, -120%);
  }
  .navlogo{
    width:50px;margin-bottom: 2px; height:50px;
  }
  .navbar-dark .navbar-nav .active>.nav-link {
    color: #ffffff;
    /* font-size: 0.9rem; */
    font-weight: bold;
    transition: 1000;
}
.nav-link {
  display: block;
  padding: 0.1rem 0.1rem;
}
}


  @media only screen and (max-width: 1234px) {


/* section last */

/* end last section */

    .banner{
      height: 100vh;
    }
    .navbar-dark .navbar-nav .active>.nav-link {
      color: #ffffff;
      /* font-size: 1.2rem; */
      /* font-weight: bold; */
      transition: 1000;
  }
  .navbar-dark .navbar-nav .active>.nav-link {
    color: #ffffff;
    /* font-size: 0.9rem; */
    font-weight: bold;
    transition: 1000;
}
.voteimg{
  width: 40px;
}
.nav-link {
  display: block;
  /* padding: 0.1rem 0.1rem; */
}
.rightthing{
  width: 100px;
}
    .mylogotitle{
      font-size: 20px;
    }
    .logg{
      transform: translate(40%, -140%);
    }
 
    .navlogo{
      width:50px;margin-bottom: 2px; height:60px;
    }
    .landingcard{
    
      transform: translate(10%, -150%);
   
     
    }
    .reg{
      transform: translate(10%, -100%); 
    }
    .mycontent{
      text-align: center;
    }
    .contentimg{
      width: 200px;
    }
    .bottom-pic{
      margin-top: 0px;
      margin-top: 0px;
      border-radius: 5px;
      size: 1000px;
      border:0px solid black;
     }
     .big-title{
      font-size: 18px;
      color: black;
    }
    .getstarted{
      display: inline-block;
      padding: 0.5rem 1rem;
      color: #ffffff !important;
      background-color: #3b4d5c;;
      border-radius: 10px;
      text-transform: capitalize;
      transition: 1s;
        font-size: 10px;
    }
    .text{
      /* font-size: 1.2rem; */
        margin:  10px 0;
        /* max-width: 745px; */
        line-height: 1.5rem;
      font-size: 15px;
    }
    #mtitle{
      transition: 500ms;
      font-weight:bold;
      font-size: 20px;
       padding: 0%;
    }

.notverified {
font-size: 12px;
margin: 0px;
}
.verified {
  font-size: 12px;
  margin: 0px;
}


  }

  .big-title{
    text-transform: capitalize;
    font-weight:bold;
    color:#1b2956;
   }
h4{
  font-size: 18px;
}
.navbar{
  /* background-image: linear-gradient(0deg, #022179 10%, #000000 100%); */
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
   @media only screen and (max-width: 1000px) {

    .questiontitle h1,h2{
      font-size: 20px;
    }
   
    .questiontitle h3,h4{
      font-size: 15px;
      font-weight: bold;
    }
   }

/* end last section */
  @media only screen and (max-width: 780px) {



   .questiontitle h1,h2{
      font-size: 13px;
    }
   
    .questiontitle h3,h4{
      font-size: 8px;
      font-weight: bold;
    }
     h3{
      font-size: 12px;
      font-weight: bold;
    }
     h4{
      font-size: 8px;
      font-weight: bold;
    }
    .notverified {
      font-size: 7px;
      margin: 0px;
  }
    .verified {
      font-size: 7px;
      margin: 0px;
  }
  .section-third p {
    width: 15rem;
    height: 9rem;
    margin-bottom: 3rem;
    text-align: center;
    margin: auto;
  }

   


  .btmimg{
    width: 100px;
    height: auto;
  }
  }


  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 20px;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .getstarted{
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #ffffff !important;
    background-color: #3b4d5c;;
    border-radius: 16px;
    text-transform: capitalize;
    transition: 1s;
      font-size: 15px;
  }
  .getstarted:hover{
    background-color: #0e1317;
    transform: scale(1) !important;
  }
  .getstartedd{
    display: inline-block;
    /* padding: 0.9rem 1rem; */
    color: #ffffff !important;
    background-color: #3b4d5c;;
    border-radius: 16px;
    text-transform: capitalize;
    transition: 1s;
      font-size: 15px;
  }
  .getstartedd:hover{
    background-color: #0e1317;
    transform: scale(1) !important;
  }
  /* @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  */


  
.featured .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.featured .box-container .box{
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 2px 6px 8px 0 rgb(22 22 26 / 18%);
  border-radius: 1.7rem;
  overflow:hidden;
  background:#fff;
  flex:1 1 30rem;
}

.featured .box-container .box .image-container{
  overflow:hidden;
  position: relative;
  width: 100%;
  height: 25rem;
}

.featured .box-container .box .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.featured .box-container .box:hover .image-container img{
  transform: scale(1.1);
}

.featured .box-container .box .image-container .info{
  position: absolute;
  top:1rem; left:0;
  display: flex;
}

.featured .box-container .box .image-container .info h3{
  font-weight: 500;
  font-size: 1.4rem;
  color:#fff;
  background:rgba(0,0,0,.3);
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  margin-left: 1rem;
}

.featured .box-container .box .image-container .icons{
  position: absolute;
  bottom:1rem; right:0;
  display: flex;
}

.featured .box-container .box .image-container .icons a{
  font-size: 1.4rem;
  color:#fff;
  display: flex;
  border-radius: .5rem;
  background: rgba(0,0,0,.3);
  margin-right: 1rem;
  padding:.7rem;
}

.featured .box-container .box .image-container .icons a h3{
  font-weight: 500;
  padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover{
  background:#ff5a3c;
}

.featured .box-container .box .content{
  padding:1.5rem;
}

.featured .box-container .box .content .price{
  display: flex;
  align-items: center;
}

.featured .box-container .box .content .price h3{
  color:#000000;
  font-size: 2rem;
  margin-right: auto;
}

.featured .box-container .box .content .price a{
  color:#666;
  font-size: 1.5rem;
  margin-right: .5rem;
  border-radius: .5rem;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
  background:#f7f7f7;
}

.featured .box-container .box .content .price a:hover{
  background:#ff5a3c;
  color:#fff;
}

.featured .box-container .box .content .location{
  padding:1rem 0;
}

.featured .box-container .box .content .location h3{
  font-size: 2.5rem;
  color:#333;
}

.featured .box-container .box .content .location p{
  font-size: 1.5rem;
  color:#666;
  line-height: 1.5;
  padding-top: .5rem;
}

.featured .box-container .box .content .details{
  padding:.5rem 0;
  display: flex;
}

.featured .box-container .box .content .details h3{
  flex:1;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  color:#999;
  font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i{
  color:#333;
  padding-left: .5rem;
}

.featured .box-container .box .content .buttons{
  display: flex;
  gap:1rem;
}

.featured .box-container .box .content .buttons .btn{
  flex:1;
  font-size: 1.5rem;
}


.list-type1 {
  /* width: 400px; */
  margin: 0 auto;
}

.list-type1 ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
}

.list-type1 ol ol {
  margin: 0 0 0 2em;
}

.list-type1 a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #022179;
  color: rgb(255, 255, 255);
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
}

.list-type1 a:hover {
  background: #d6d4d4;
  text-decoration: none;
  transform: scale(1.1);
}

.list-type1 a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
      background: #f75700;
  height: 2.5em;
  width: 3em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color: #FFF;
}