{% extends 'Newbase.html' %}

{% block head %}
<title>Posts</title> 
<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
{% endblock %}

{% block body %}
<body style="background-color: #d9daf3;">
<br>
<div class="container" >
<div class="container-fluid row" style="align-items: center;">
    <h1 class="headd col big-title" style="padding:0px">All Posts</h1>
    <!-- <label for="author" class="mr-2">Select Topic:</label> -->
  
    <form action='/sub' method='POST' style="margin-bottom: 2px;">
        <select class="form-select py-2 mr-2 " name = "selsubbb" aria-label="" >
          <!-- <option selected value="random" disabled="disabled">Choose Subject</option> -->
          <option selected value="random">Choose Branch</option>
          <option value="Computer Engineering">Computer Engineering</option>
          <option value="IT">IT</option>
          <option value="Mechanical">Mechanical</option>
          <option value="Civil">Civil</option>
          <option value="AIML">AIML</option>
          <option value="EXTC">EXTC</option>
          <option value="RR"  >All</option>

        </select>
        <button class="btn getstartedd mr-2  headdd" style ="height: 40px;" type="submit"><i class='fa-solid fa-magnifying-glass'></i>Search</button>
  
    </form>
    {%if loggedid%}
    <a  class="btn getstartedd headdd" style ="height: 40px;" href="/posts/new" ><i class="fa-solid fa-circle-plus"></i> Add Post</a>
{%endif%}



</div>
    <hr>
    
    {% if emp %}
    
    <h2 class="headd col " style="color: red;padding:0px">No Post Available !</h2>
    {% else %}

    {% for post in posts %}
    
    <div class="container p-5 rounded bg-light" style="box-shadow: none;"> 
      
        <div class="float-right " >
         
      
       
  
     
        <div class="verified  float-right"><span >{{post.date_posted.strftime("%d/%m/%Y")}}</span></div>
        
            
        
       
        </div>
        <div class="col-sm-8 mx-auto" >
      
        {% if post.imgsrc != "" %}
       
        <div class="imgg mb-4">
          
            <img  class = "img-fluid qimg" src="/static/question_images/{{post.imgsrc}}">
        </div>
        {%endif%}   
    
        <span class="questiontitle" >{{ post.title|safe }}</span>
   
        <br>
        <br>
        <p class="optiontext font-weight-bold">Posted by :{{post.name}}</p>
        <p class="optiontext font-weight-bold">Branch :{{post.branch}}</p>
        <a class="btn btn-danger " style="border-radius: 17px;" href='/posts/delete/{{post.id}}'><i class="fa fa-trash-can"></i> Delete</a>
        </div>
      
        </div>
    {% endfor%}
{% endif %}
</div>
</form>


<hr>
<!-- {{ ckeditor.load() }}
{{ckeditor.config(name='titles')}} -->
</body>
{% endblock %}
