* {
  margin: 0px;
  padding: 0px;
}
.container__5 h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 5px;
}

.container__5 p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 0px;
  box-sizing: border-box;
  border: 2px solid rgb(52, 66, 193);
  width: 50%;
  padding: 10px 5rem;
  border-radius: 25px;
}
