.container_block img {
  display: block;
  padding: 1rem;
  margin: 3rem auto 3rem auto;
  border: 2px solid gray;
}
.container__1 h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 3rem auto 0vh auto;
}
.container__2 h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 3rem auto 0vh auto;
}

#card_container,
.card {
  align-items: center;
  margin: 5px;
  display: inline-flex;
}
#card_container {
  align-items: center;
}

.container__3 h1,
p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 1rem auto 0vh auto;
}
.container__3 p {
  font-size: 25px;
}
