<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <!-- for event page  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='event.css')}}"
    />
    <!-- for about -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='About.css')}}"
    />
    <!-- for layout  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='style.css')}}"
    />
    <!-- for history event  -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='eventhistory.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- google fonts linked -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />
    {% if title %}
    <title>EDC | {{title}}</title>
    {% else %}
    <title>EDC</title>
    {%endif%}
  </head>
  <body>
    <header>
      <!-- responsive navbar is added by sohail -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-color" id="navbar">
        <div class="container">
          <!--addded container class to avoid resposiveness error -->

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav white me-auto mb-2 mb-lg-0">
              <li class="nav-item pe-sm-5">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item pe-sm-5">
                <a class="nav-link active" aria-current="page" href="#"
                  >Blogs</a
                >
              </li>
              <li class="nav-item pe-sm-5">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{url_for('Event')}}"
                  >Events</a
                >
              </li>
              <li class="nav-item pe-sm-5">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{url_for('About')}}"
                  >About Us</a
                >
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-success rounded-pill-m">
                Log In
              </button>
            </form>
          </div>
        </div>
      </nav>
      <!-- a complete responsive design of header ends here -->
      <!-- logo and title code modified by sohail -->
      <!-- <div
        class="shadow p-1 mb-5 bg-white rounded container-fluid bg-light d-sm-flex flex-row align-items-center justify-content-center px-5 px-sm-3"
      >
         <div class="logo-main">
          <img
            src="{{url_for('static',filename='logo.svg')}}"
            alt="logo"
            id="logo"
            width="100px"
            height="200px"
          />
        </div>
        <div class="d-flex flex-column justify-content-center" id="title">
          <h1>
            <strong> ENTREPRENEURSHIP DEVELOPMENT CELL </strong>
          </h1>
        </div> 
      </div> -->
    </header>

    <div class="container__events">
      <div class="container__workshop">{%block content %} {%endblock%}</div>
    </div>
  </body>

  <!-- /////////////// -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"
  ></script>
</html>
