{% extends 'layout.html'%}{%block content%}
<div class="container">
  <div>
    <h1>Our Team</h1>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/images/portrait1.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Live in Asheville</h5>
          <p class="card-text">
            Live at New Belgium Brewing Company, Asheville, NC, USA, September
            1st 2019
          </p>
          <button href="#" class="btn btn-primary">Profile</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/images/portrait2.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Live in London</h5>
          <p class="card-text">
            Live at Alexandra Palace, London, England, October 5th 2019
          </p>
          <a href="profile.html" class="btn btn-primary">Profile</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/images/portrait4.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Live in Adelaide</h5>
          <p class="card-text">
            Live at Thebarton Theatre, Adelaide, Australia, July 12th 2019
          </p>
          <a href="profile.html" class="btn btn-primary">Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
