{% extends 'layout.html'%}{%block content%}
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>Someone</h1>
            <h3>Role</h3>
            <br>
            <p>
                DESCRIPTION:Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatibus ipsam atque sit? Possimus quisquam nisi dolores amet eaque, cupiditate laudantium molestiae a iure sint perspiciatis soluta voluptate vero ad?
            </p>
            <br>

            <ul>
              <li>Skills/quals</li>
              <li>plays the guitar</li>
              <li>can breathe</li>
            </ul>
            
        </div>

        <div class="col-1"></div>
          <div class="col-4" id="portrait_bg">
            <div class="row-cols-4" id="portrait_bg">
              <img src="/images/portrait1.jpeg" class="rounded mx-auto d-block w-100 h-100" alt="">
            </div>
            <p id="portrait_txt">"quote here if anyone wants to have a quote"</p>

          </div> 
        </div>
    </div>

    
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
        <a href="#"><img src="/images/Insta.svg" style="padding-right:1em;"></a>
        <a href="#"><img src="/images/Link.svg" style="padding-right:1em;"></a>
      </div>
    </div> 

    <div class="container">
      <div class="col-8">
        <a type="button" class="btn btn-primary" href="manage.html">Go Back</a>
      </div>
    </div>


</div>
{%endblock content%}
